# Ignoruj wszystko domyślnie
*

# --- PLIKI I FOLDERY, KTÓRE CHCEMY W REPOZYTORIUM ---

# Zachowaj pliki konfiguracyjne Dockera
!docker-compose.yml
!/.docker/

# Zachowaj nasz motyw potomny
!/themes/
/themes/*
!/themes/starwoven/
!/themes/starwoven/**
/themes/starwoven/assets/cache/

# Zachowaj plik README (jeśli go stworzysz)
!README.md

# NIE ignoruj tego pliku .gitignore
!.gitignore

# --- RZECZY, KTÓRE ZAWSZE MAJĄ BYĆ IGNOROWANE ---

# Ignoruj pliki generowane przez system lub edytor
.DS_Store
.idea/
.vscode/

# Ignoruj folder z danymi bazy danych Dockera
/db-data/