services:
  _defaults:
    public: true
    autowire: true
    autoconfigure: true

  PrestaShop\PrestaShop\Adapter\Shipment\CommandHandler\AddShipmentHandler:

  PrestaShop\PrestaShop\Adapter\Shipment\QueryHandler\GetOrderShipmentsHandler:
